@import url(http://fonts.googleapis.com/css?family=Open+Sans);
 html,
body {
    font-family: 'Open Sans', sans-serif;
    min-height: 100%;
    margin: 0;
    padding: 0;
}
#menu {
    position: fixed;
    top: 100px;
    width: 180px;
    height: auto;
    padding: 10px;
    margin: 0;
    border: 2px solid #e7e7e7;
    border-radius: 10px;
    background: #e7e7e7;
}
#menu nav a {
    font-size: 20px;
    min-width: 100px;
    color: #0000FF;
    background: #e7e7e7;
    text-align: center;
    text-decoration: none;
    padding: 5px 10px;
    margin: 10px 10px;
    float: left;
}
#menu nav a:hover {
    color: black;
}
#copy {
    text-align: center;
    font-size: 15px;
}
#header,
#tabs {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}
.h4 {
    text-decoration: none;
}
.h4:visited {
    color: red;
}
.h4:hover {
    color: blue;
}
.toggle {
    line-height: 200%;
}
.example {
    text-align: left;
    font-family: "Courier New", Courier, mono;
    font-size: 17px;
    color: blue;
    background-color: #e7e7e7;
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    border: #000000;
    border-style: dashed;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    width: auto;
}

footer {
    text-align: center;
    border: 2px solid #e7e7e7;
    background: yellow;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    clear: both;
    width: 70%;
    margin: 0 auto;
}