@import url(http://fonts.googleapis.com/css?family=Open+Sans);
 html,
body {
    font-family: 'Open Sans', sans-serif;
    min-height: 100%;
    margin: 0;
    padding: 0;
}
/* Universal link properties 
 */
a {
    text-decoration: none;
}
a:hover {
    color: red;
}
#menu {
    position: fixed;
    background: #e7e7e7;
    z-index: 100;
    margin: 0 auto;
    height: 40px;
    width: 100%;
    padding: 10px;
}
nav {
    text-align: center;
}
#menu nav a {
    font-size: 20px;
    color: #050505;
    text-align: center;
    text-decoration: none;
    padding: 20px;
}
#menu nav a:hover {
    color: red;
}
#copy {
    text-align: center;
    font-size: 15px;
}
.header,
#tabs {
    padding: 40px;
    margin: 0 auto;
    text-align: center;
}
.h4 {
    text-decoration: none;
}
.h4:visited {
    color: red;
}
.h4:hover {
    color: blue;
}
.toggle {
    line-height: 200%;
}
#group {
    width: 100%;
}
hr {
    margin: 0 50px;
    border: 1px solid #e7e7e7;
}
/* Resources links
 */
.resources {
    font-size: 20px;
    margin: 0 auto;
}
/**
 * Style code editors on the details view.
 * Autoresize code from http://codemirror.net/demo/resize.html
 */

.CodeMirror {
    text-align: left;
    border: 1px solid #eee;
    height: auto;
    font-size: 1.3em;
    margin-top: 20px;
    width: 80%
}
.CodeMirror-scroll {
    height: auto;
    overflow-y: hidden;
    overflow-x: hidden;
}

/**
 * Configure jQuery UI 
 */
.ui-tabs-nav {
    background: #e7e7e7;
}

/* pre
*/
pre {
    text-align: left;
    font-size: 20px;
}

